@font-face {
	font-family: 'Gilroy-Bold';
	src: url('fonts/Gilroy-Bold.woff');
}

@font-face {
	font-family: 'Gilroy-Medium';
	src: url('fonts/Gilroy-Medium.woff');
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Gilroy-Bold';
	color: black;
	background-color: white;
	transition: .3s all ease;
}


.top {
	visibility: hidden;
	position: fixed;
	width: 100px;
	height: 100vh;
	display: flex;
	flex-flow: column;
	transform: translateY(100%);
	justify-content: end;
	transition: 0.5s;
}

.top__btn {
	border: none;
	cursor: pointer;
	background: black;
	border-radius: 50px;
	font-size: 25px;
	line-height: 22px;
	height: 40px;
	margin: 1rem;
	width: 40px;
	transition: 0.5s;
}

.top__btn:hover {
	background: blue;
}

.top__active {
	visibility: visible;
	transform: translateY(0%);
}

.top__link {
	color: white;
	width: 100%;
}

.menu__nav {
	height: 100%;
}

.title {
	text-align: center;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

* a {
	color: black;
}

.container {
	width: 60%;
}

.header {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
}

.header__content {
	height: 100%;
	border-bottom: 1px solid #828282;
	display: flex;
}

.header__navigation {
	width: 100%;
}

.header__navigation-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.header__navigation-link {
	font-size: 18px;
	line-height: 22px;
	color: #828282;
}

.section {
	width: 100%;
	display: flex;
	justify-content: center;
}

.homepage {
	height: 700px;
}

.homepage__content {
	width: 100%;
}

.homepage__theme-switch-btn {
	font-size: 30px;
}

.theme-switch-btn {
	cursor: pointer;
}

.homepage__text-content {
	width: 100%;
	height: 190px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.homepage__title {
	width: 80px;
	font-size: 47px;
	line-height: 59px;
}

.homepage__subtitle {
	font-family: 'Gilroy-Medium';
	font-weight: 500;
	width: 175px;
	font-size: 18px;
	line-height: 22px;
}



.--active-btn {
	color: grey;
}



.homepage__img {
	width: 100%;
	height: 450px;
}

.homepage__media-acces-img {
	display: none;
}

.--f6f6f6 {
	background-color: #f6f6f6;
}

.about {
	height: 400px;
}

.about__content {
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.about__text-content {
	height: 350px;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
}

.about__subtitles {
	height: 350px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-flow: column;
}

.subtitle {
	width: 60%;
	font-family: 'Gilroy-Medium';
	font-size: 20px;
	line-height: 22px;

}

.skills {
	height: 500px;
	display: flex;
	justify-content: center;
}

.skills__content {
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	text-align: center;
	align-items: center;
}

.skills__subtitle {
	text-align: center;
}

.skills__items {
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	width: 100%;
}

.skills-item {
	height: 206px;
	width: 166px;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
}

.skills__img {
	width: 88px;
	height: 88px;
}

.skills__name {
	left: 56.29%;
	right: 38.22%;
	top: 35.29%;
	bottom: 64.14%;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #828282;
}

.portfolio {
	background-color: #f6f6f6;
	text-align: center;
}

.portfolio__content {
	margin-top: 110px;
}

.portfolio__item {
	margin-top: 50px;
}

.portfolio__item-img {
	width: 100%;
}

.portfolio__item-name {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	font-size: 18px;
}

.portfolio__item-name-solid {
	width: 100%;
	height: 1px;
	background: black;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 600px;
}

.footer__content {
	display: flex;
	justify-content: center;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	height: 350px;
	text-align: center;
}

.footer__subtitle {
	width: 35%;
}

.footer__button {
	height: 42px;
	width: 150px;
	border: none;
	cursor: pointer;
	background: black;
	border-radius: 50px;
}

.footer__contact-phone {
	font-size: 18px;
	line-height: 22px;
	color: white;
}

.footer__contacts {
	width: 25%;
	display: flex;
	justify-content: space-around;
}

.footer__contact {
	font-size: 50px;
}

.footer__contact-link {
	transition: 0.4s;
}

.footer__contact-link:hover {
	transform: translateY(-10%);
}

.fa-telegram:hover {
	color: #0088cc;
}

.fa-vk:hover {
	color: #5181b8;
}

.menu {
	display: none;
}

.menu__open {
	display: none;
}

.--active-link {
	color: black;
}

@media (max-width: 1000px) {
	.__container {
		width: 80%;
	}

	.footer__contacts {
		width: 50%;
		justify-content: space-between;
	}

	.homepage__img {
		height: 300px;
	}

	.homepage {
		height: 550px;
	}
}

@media (max-width: 600px) {
	body {
		overflow-x: hidden;
	}

	.header {
		display: none;
	}

	.__container {
		width: 80%;
	}

	.homepage__img {
		height: 500px;
	}

	.homepage__text-content {
		flex-flow: column;
		text-align: start;
		align-items: flex-start;
		margin-top: 50px;
	}

	.homepage-__ubtitle {
		width: 55%;
	}

	.homepage__theme-switch-btn {
		display: none;
		color: transparent;
	}

	.menu__theme-switch-btn {
		color: black;
		width: 100%;
		text-align: center;
		font-size: 50px;
		margin-top: 50px;
	}

	.homepage__img {
		display: none;
	}

	.homepage__media-acces-img {
		display: initial;
		margin-top: 20px;
	}

	.about {
		margin-top: 50px;
	}

	.section {
		height: 100%;
	}

	.skills {
		margin-top: 50px;
	}

	.skills__items {
		flex-flow: column;
		justify-content: center;
		align-items: center;
		margin-top: 50px;
	}

	.skills__img {
		width: 44px;
		height: 44px;
	}

	.skills-item {
		height: 150px;
	}

	.protfolio__item-img {
		width: 100%;
		height: 200px;
		margin-top: 10px;
	}

	.protfolio__item {
		margin-top: 20px;
	}

	.protfolio__item-name {
		margin-top: 0px;
		height: 70px;
		font-size: 12px;
	}

	.footer__contacts {
		margin: 0;
		width: 50%;
	}

	.footer__contact {
		font-size: 40px;
	}

	.subtitle {
		width: 100%;
	}

	.menu__open-btn {
		font-size: 30px;
	}

	.menu__open {
		display: initial;
		position: absolute;
		margin-left: 80%;
		margin-top: 70px;
	}

	.menu {
		visibility: hidden;
		width: 100%;
		height: 100vh;
		background: white;
		position: fixed;
		z-index: 22;
		display: initial;
		transform: translateX(-100%);
		transition: 0.2s;
		overflow: hidden;
	}

	.--menu-active {
		visibility: visible;
		transform: translateX(0%);
	}

	.--none-scrool {
		overflow: hidden;
	}

	.menu__content {
		width: 100%;
	}

	.menu__nav {
		width: 100%;
		margin-top: 50px;
		height: 200px;
		font-size: 30px;
	}

	.menu__navigation-item {
		display: flex;
	}

	.menu__navigation-link {
		color: #828282;
		font-size: 34px;
		line-height: 42px;
		margin: 1rem;
	}

	.--initial {
		display: initial;

	}

	.--active-link {
		color: black;
	}

	.menu__close {
		font-size: 40px;
		margin-left: 80%;
		margin-top: 40px;
		color: #828282;
	}

	.menu__close {
		margin-left: 80%;
		margin-top: 20px;
		position: absolute;
	}
}

.--nero {
	background-color: #161616;
}

.--black {
	background-color: black;
}

.dark-mode {
	color: white;
	background: black;
}

.--white-color {
	color: white;
}

.dark-mode-menu {
	background-color: black;
	color: white;
}